<h2>Listado de Productos</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.Id }}</td>
      <td>{{ producto.Nombre }}</td>
      <td>{{ producto.Categoria }}</td>
      <td>{{ producto.Precio }}</td>
      <td>{{ producto.Stock }}</td>
      <td>
        <button class="btn btn-warning">Editar</button>
        <button class="btn btn-danger" (click)="eliminarProducto(producto.Id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
