################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServidorInventario/.vs/ServidorInventario
/ServidorInventario/bin/Debug/net8.0
/ServidorInventario/obj
/ServidorInventario/GestionProductos/bin/Debug/net8.0
/ServidorInventario/GestionProductos/obj
/ServidorInventario/GestionTransacciones/bin/Debug/net8.0
/ServidorInventario/GestionTransacciones/obj
/ServidorInventario/Comun/bin/Debug/net8.0
/ServidorInventario/Comun/obj
/ServidorInventario/.vs/ProjectEvaluation
/Servidor/GestionProductos/obj
/Servidor/.vs/Servidor
