<h2>Nuevo Producto</h2>
<form [formGroup]="form" (ngSubmit)="guardarProducto()">
  <label>Nombre:</label>
  <input type="text" formControlName="nombre" class="form-control">

  <label>Descripción:</label>
  <input type="text" formControlName="descripcion" class="form-control">

  <label>Categoría:</label>
  <select formControlName="categoria" class="form-control">
    <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
  </select>

  <label>Precio:</label>
  <input type="number" formControlName="precio" class="form-control">

  <label>Stock:</label>
  <input type="number" formControlName="stock" class="form-control">

  <label>Imagen:</label>
  <input type="file" (change)="seleccionarImagen($event)" class="form-control">

  <button class="btn btn-primary" type="submit">Guardar</button>
</form>
